.mobile-desktop-page {
    height: 220vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    background-color: white;
}

.mobile-desktop-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    overflow-y: auto;
    background-color: white;
}


.mobile-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    font-weight: 600;
    background-color: white;
}

.mobile-selected {
    color: #282828;
}

.mobile-section-header-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: -2rem;
    align-items: center;
    width: 95%;
}

.mobile-section-title {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.mobile-arrow-icon {
    padding-left: 0%;
    margin-left: 0%;
}

.mobile-subsection {
    padding-left: 8%;
}

.mobile-side-area {
    width: 100%;
    margin-left: 5%;
}


.mobile-footer-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 8%;
}

.mobile-menu {
    width: 100%;
    background-color: white;
    padding: 1% 0% 1% 0%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 6vh;
}

.mobile-search-field {
    width: 88%;
    height: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 1px solid #EAECF0;
    border-radius: 7px;
    gap: 5px;
    margin-top: 5%;
    margin-left: 5%;
    background-color: white;
    padding-left: 2%;


}

.from-stat {
    color: #9D9FA1;
}

.positive {
    background-color: #DCFFF5;
    color: #20C997;
}

.negative {
    background-color: #FFE0E3;
    color: #DC3545;
}

.neutral {
    background-color: #F2F4F7;
    color: #5F6980;
}


.mobile-search-field input {
    border: none;
    height: 90%;
    width: 90%;
    outline: none;
    font-family: 'Inter';
    font-size: 1rem;
    color: #9D9FA1;
}

.mobile-search-field input::placeholder {
    font-size: 1rem;
    color: #9D9FA1;
}

.mobile-menu-options {
    width: 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 1%;
}

.mobile-notif-badge {
    position: relative;
}

.mobile-notif-indicator {
    position: absolute;
    background-color: #E25563;
    clip-path: circle();
    width: 7px;
    height: 7px;
    top: 0;
    right: 0;
}

.mobile-avatar {
    position: relative;
}

.mobile-avatar-portrait {
    height: 40px;
    clip-path: circle();
}

.mobile-avatar-portrait img {
    width: 130%;
    height: 130%;
    object-fit: cover;
}

.mobile-avatar-indicator {
    position: absolute;
    background-color: #20C997;
    clip-path: circle();
    width: 7px;
    height: 7px;
    bottom: 0;
    right: 0;
}

.mobile-banner {
    background-color: #282828;
    border-radius: 15px;
    width: 88%;
    height: 13%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3% 3% 3% 3%;
    margin-top: 3%;
    margin-left: 3%;
}

.mobile-banner-text {
    font-weight: 600;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mobile-banner-heading {
    font-size: 1.8rem;
    margin: 0;

}

.mobile-banner-detail {
    font-size: 1rem;
    width: 75%;
    font-weight: 200;
    text-align: center;
}

.mobile-upgrade-button {
    height: 3rem;
    width: 7rem;
    border-radius: 30px;
    background-color: white;
    fill: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-right: 1%;
    gap: 10%;
    padding: 0 1.5% 0 1.5%;
    margin-top: 0%;
}

.mobile-upgrade-text {
    font-size: 16px;
    font-weight: 600;
    color: #282828;
}

.mobile-metrics {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-top: 2rem;
}

.mobile-metrics-card {
    height: 16vh;
    width: 88%;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    padding: 3%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.mobile-metrics-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.mobile-metrics-title {
    margin: 0;
}

.mobile-metrics-value {
    color: #282828;
    font-size: 26px;
    font-weight: 600;
    margin: 0;
    margin-top: 0.5rem;
}

.mobile-metrics-footer {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 5%;
    font-weight: 600;
    font-size: 12px;
}

.mobile-stat-badge {
    width: 50px;
    height: 20px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mobile-from-stat {
    color: #9D9FA1;
}

.mobile-stat-badge-positive {
    font-size: 14px;
    font-weight: 600;
    width: 60px;
    height: 20px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #DCFFF5;
    color: #20C997;
}

.mobile-stat-badge-negative {
    font-size: 14px;
    font-weight: 600;
    width: 90px;
    height: 20px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F2F4F7;
    color: #5F6980;
}

.mobile-neutral {
    background-color: #F2F4F7;
    color: #5F6980;
}

.mobile-stat-badge-pending {
    font-weight: 600;
    font-size: 14px;
    width: 80px;
    height: 20px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFEAD8;
    color: #FD7E14;
}

.mobile-perf-chart {
    width: 92%;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1% 0 1% 0;
    background-color: white;
    margin-top: 5%;
    background-color: white;
    border-radius: 10px;
    box-shadow: 2px black;
    display: flex;
    padding: 2%;
    margin-left: 2%;
}

.mobile-content-header {
    height: 10%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.mobile-content-title {
    font-weight: 600;
    font-size: 18px;
    color: #282828;
}

.mobile-content-body {
    height: 90%;
    width: 100%;
    border-top: 1px solid #EAECF0;
    padding-top: 1%;
}

.mobile-applist-container {
    width: 100%;
    overflow-x: auto;

}

.mobile-applist {
    margin-left: 5%;
    width: 86%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    background-color: white;
    margin-top: 3%;
    background-color: white;
    border-radius: 10px;
    box-shadow: 2px black;
    display: flex;
    padding: 2%;
    margin-bottom: 3%;
    overflow-x: auto;
}

.mobile-applist-row {
    width: max-content;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
    color: #5F6980;
    border-bottom: 1px solid #EAECF0;
    gap: 5rem;
    padding-left: 2rem;
}

.mobile-applist-keys {
    background-color: #F9FAFB;
    height: 20%;
}

.mobile-source-row {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    width: 50%;
}

.mobile-app-box {
    width: 40px;
    height: 40px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.mobile-app-name {
    color: #282828;
    font-size: 14px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
}