.desktop-page {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.desktop-content {
    display: flex;
    flex-direction: column;
    width: calc(100vw - 16vw);
    align-items: center;
    overflow-y: auto;
}

.sidebar {
    width: 16vw;
    height: 99.5vh;
    overflow-y: hidden;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid #EAECF0;
    position: relative;
}

.side-area {
    width: 13vw;
    padding-left: 2rem;
    padding-top: 1rem;
    overflow-y: auto;
}

.side-navi {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.side-title {
    width: 100%;
    letter-spacing: 3px;
    font-weight: 600;
    font-size: 12px;
    color: #9D9FA1;
    margin: 15%;
}

.section {
    width: 100%;
    display: flex;
    flex-direction: column;
    font-weight: 600;
}

.selected {
    color: #282828;
}

.section-header-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: -2rem;
    align-items: center;
    width: 95%;
}

.section-title {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.arrow-icon {
    padding-left: 0%;
    margin-left: 0%;
}

.subsection {
    padding-left: 8%;
}

.sidebar-footer {
    margin: 0;
    height: 5%;
    border-top: 1px solid #EAECF0;
    width: 100%;
    padding-bottom: 1rem;
}

.footer-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 8%;
}

.menu {
    height: 7vh;
    width: 95%;
    background-color: white;
    padding: 1% 2.5% 1% 2.5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.search-field {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    border: 1px solid #EAECF0;
    border-radius: 4px;
    padding-left: 5px;
    gap: 5px;


}

.search-field input {
    border: none;
    height: 90%;
    width: 100%;
    outline: none;
    font-family: 'Inter';
}

.menu-options {
    width: 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 4%;
}

.notif-badge {
    position: relative;
}

.notif-indicator {
    position: absolute;
    background-color: #E25563;
    clip-path: circle();
    width: 7px;
    height: 7px;
    top: 0;
    right: 0;
}

.avatar {
    position: relative;
}

.avatar-portrait {
    height: 35px;
    clip-path: circle();
}

.avatar-portrait img {
    width: 130%;
    height: 130%;
    object-fit: cover;
}

.avatar-indicator {
    position: absolute;
    background-color: #20C997;
    clip-path: circle();
    width: 7px;
    height: 7px;
    bottom: 0;
    right: 0;
}

.banner {
    background-color: #282828;
    border-radius: 15px;
    width: 90%;
    height: 15%;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 2% 3% 2% 3%;
    margin-top: 3%;
}

.banner-text {
    font-weight: 600;
    font-size: 28px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.banner-heading {
    margin: 0;
}

.banner-detail {
    font-size: 14px;
}

.upgrade-button {
    height: 3rem;
    width: 7rem;
    border-radius: 30px;
    background-color: white;
    fill: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-right: 1%;
    gap: 10%;
    padding: 0 1.5% 0 1.5%;
}

.upgrade-text {
    font-size: 16px;
    font-weight: 600;
    color: #282828;
}

.metrics {
    width: 96%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 2%;
    margin-top: 5%;
}

.metrics-card {
    height: 100%;
    width: 20%;
    background-color: white;
    border-radius: 10px;
    box-shadow: 2px black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    padding: 1.3%;
}

.metrics-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.metrics-title {
    margin: 0;
}

.metrics-value {
    color: #282828;
    font-size: 26px;
    font-weight: 600;
    margin: 0;
    margin-top: 0.5rem;
}

.metrics-footer {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 5%;
    font-weight: 600;
    font-size: 12px;
}

.stat-badge {
    width: 50px;
    height: 20px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.from-stat {
    color: #9D9FA1;
}

.stat-badge-positive {
    font-size: 14px;
    font-weight: 600;
    width: 60px;
    height: 20px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #DCFFF5;
    color: #20C997;
}

.stat-badge-negative {
    font-size: 14px;
    font-weight: 600;
    width: 90px;
    height: 20px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F2F4F7;
    color: #5F6980;
}

.neutral {
    background-color: #F2F4F7;
    color: #5F6980;
}

.stat-badge-pending {
    font-weight: 600;
    font-size: 14px;
    width: 80px;
    height: 20px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFEAD8;
    color: #FD7E14;
}

.perf-chart {
    width: 92%;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1% 0 1% 0;
    background-color: white;
    margin-top: 5%;
    background-color: white;
    border-radius: 10px;
    box-shadow: 2px black;
    display: flex;
    padding: 2%;
}

.content-header {
    height: 10%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.content-title {
    font-weight: 600;
    font-size: 18px;
    color: #282828;
}

.content-body {
    height: 90%;
    width: 100%;
    border-top: 1px solid #EAECF0;
    padding-top: 1%;
}

.applist {
    width: 92%;
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1% 0 1% 0;
    background-color: white;
    margin-top: 3%;
    background-color: white;
    border-radius: 10px;
    box-shadow: 2px black;
    display: flex;
    padding: 2%;
    margin-bottom: 3%;
}

.applist-row {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
    color: #5F6980;
    border-bottom: 1px solid #EAECF0;
    gap: 10px;
    padding-left: 2rem;
}

.applist-keys {
    background-color: #F9FAFB;
    height: 15%;
}

.source-row {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    width: 50%;
}

.app-box {
    width: 40px;
    height: 40px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.app-name {
    color: #282828;
    font-size: 14px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
}